/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

/* Colors */
:root {
    --primary-color: #30336b;
    --button-color: #e94560;
    --light-gray: #f5f5f5;
    --medium-gray: #535c68;
    --white: #f5f5f5;
    --background-color: #1a1a2e;
    --hover-color: #00aaff;
}

/* Main style */
body {
    background-color: var(--background-color);
    color: var(--light-gray);
    font-family: 'Source Code Pro', monospace;
    margin: 5vw; /* 5% of screen width ~ 40px on computer */
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
}

.content-box {
    padding: 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 40px;
}

.container {
    display: flex;
    column-gap: 20px;
}

.tri-box {
    background-color: var(--background-color);
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.image-box2 {
    background-image: url('../images/backgroundimg.jpg');
}

.image-box1 {
    background-image: url('../images/background2img.jpg');
}

/* Header Style */
header {
    text-align: center;
    text-transform: uppercase;
    color: var(--light-gray);
}

/* NavBar Style */
.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
}

.navbar a {
    display: block;
    color: var(--light-gray);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
}

.navbar a:hover {
    background-color: var(--background-color);
    color: var(--hover-color);
    text-decoration: none;
}

/* Footer Style */
footer {
    margin: 20px 0;
    text-align: center;
}

a {
    color: var(--light-gray);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

/* Form Style */
form {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--light-gray);
    margin: 20px 0;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--background-color);
    color: var(--light-gray);
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 10px;
}

form input[type="submit"] {
    background-color: var(--button-color);
    color: var(--white);
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 10px;
}

button {
    background-color: var(--button-color);
    color: var(--light-gray);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
}

button:hover {
    background-color: var(--hover-color);
}

/* List Style */
ul, ol {
    padding-left: 40px;
}

li {
    padding: 5px 0;
}