/* Color Variables */
:root {
  --primary-color: #30336b;
  /* Dark Gray Blue */
  --button-color: #e94560;
  /* Soft Red */
  --light-gray: #f5f5f5;
  /* Light Gray for Text */
  --medium-gray: #535c68;
  /* Medium Gray for Backgrounds */
  --white: #f5f5f5;
  /* Off White */
  --accent-green: #d4edda;
  /* Soft Green */
  --accent-red: #f8d7da;
  /* Bright Red */
  --background-color: #1a1a2e;
  /* Dark Navy Blue */
  --hover-color: #00aaff;
  /* Light Blue Hover */
  --message-success-bg: #2f4f4f;
  /* Dark Slate Gray for Success Messages */
  --message-error-bg: #5c2a2a;
  /* Darker Red for Error Messages */
  --message-warning-bg: #4b3621;
  /* Darker Brown for Warning Messages */
}

/* Global Styles */
body {
  padding-top: 70px;
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  color: var(--light-gray);
}

/* Navbar Styles */
.navbar {
  background-color: var(--primary-color) !important;
}

.navbar-brand,
.nav-link {
  color: var(--white) !important;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--hover-color) !important;
  text-decoration: none;
}

/* Main Content Area */
main {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Buttons */
.btn-primary {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .navbar-brand,
  .nav-link {
    font-size: 0.9rem;
  }
}

/* Table Styles */
.table {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  padding: 0.75rem;
  border-color: var(--background-color);
}

.table th {
  background-color: var(--background-color);
  color: var(--white);
  font-weight: bold;
}

.table-hover tbody tr:hover {
  background-color: var(--hover-color);
  color: var(--white);
}

.table-responsive {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.table th a {
  color: var(--white);
  text-decoration: none;
}

.table th a:hover {
  color: var(--hover-color);
  text-decoration: none;
}