h1 {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: 1px solid #000000;
    cursor: pointer;
}

.square:hover {
    background-color: #dfabc0;
}

#turn, #condition {
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px auto;
    width: 320px;
    text-align: center;
}